.App{
  margin: 200px;
  margin-left: 500px;
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: hsl(36, 100%, 94%);
  border-radius: 60px;
  margin-top: 80px;
  margin-right: 500px;
  font-size: 2rem;
  text-align: center;

  box-shadow: 0.5px 2px 2px 0.5px;
}

ul{
  list-style: none;
}

input{
  padding: 20px;
  width: 400px;
  background-color:hsl(120, 100%, 105%);
}

::placeholder{
  font-size: 20px;
}

h2{
  font-size: 55px;
  padding-left: -30px;
}

ul li{
  margin-bottom: 20px;
  padding-left: -30px;
}