.App{
  background-color: hsl(180, 100%, 80%);
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: center;
}

ul{
  list-style: none;
}

ul li{
  padding-top: 20px;
}

input{
  padding-top: 20px;
  margin-top: 20px;
  display: flex;
  margin-left: 570px;
  margin-bottom: 10px;
  width: 300px;
}

button{
  padding: 10px;
  width: 100px;
  background-color: aliceblue;
  margin-left: 10px;
}